@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

a, Link {
  transition: all 0.16s;
}

.a-hover:hover {
  color: #f07b38;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-loyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #171717;
  padding: 16px 184px;
  color: #fff;
  border-bottom: 3px solid #ff853f;
}

.main-loyout {
  margin: 177px 180px;
}

@media (max-width: 1068px) {
  .header-loyout {
    padding: 10px 8px;
  }
  .main-loyout {
    margin: 30px 8px;
  }
}